<section class="dashboard-upload-section title" id="updateLangDefault">
    <h3>Quản lý Ngôn Ngữ Mặc Định</h3>
    
    <div class="mt-4 language-select-container">
        <label for="language-select">Chọn ngôn ngữ:</label>
        <select id="language-select" name="language-select" class="language-dropdown">
            <option value="vi">Tiếng Việt</option>
            <option value="en">English</option>
            <option value="zh">中文 (Chinese)</option>
        </select>
        <div class="btn-sumit-add">
            <button type="submit" class="btn" id="UpdateLangBTN">Cập nhật Ngôn Ngữ</button>
        </div>
    </div>
</section>